<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Emotion Project</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
    <style>
        img {
            width: 40%;
            height: auto;
        }
    </style>

    <h1>Emotion Project index.html in src folder</h1>
    <h2>by Tessa Eagle, John Diez, and Montana Fowler</h2>
    <h3>CMPM202 - UC Santa Cruz - Winter 2020</h3>

    <h4>1. Upload Image</h4>
    <form action={{ url_for('startFacifier') }} method="post">
         <input type="text" name="imageNameInput">
         <input type="submit">
     </form>

    <div id="gallery"></div>
    <h4>2. Detect Emotions</h4>
    <div id="emotionsDetected">
        <img src="data:image/jpg;base64,{{data}}" />
    </div>

    <h4>3. Provide Art associated with your emotions</h4>
    <div id="emotionalArt">
        {% for art in artImages %}
        <img src="{{ art }}"></img>
        {% endfor %}
    </div>

    <h4>4. Provide Tweet associated with your emotions</h4>
    <div id="tweet">tweet div</div>


</body>
</html>